# Publishable API Key found in the Magic Dashboard
NEXT_PUBLIC_MAGIC_API_KEY=pk_live_1234567890

# The RPC URL for the blockchain network
NEXT_PUBLIC_BLOCKCHAIN_NETWORK=ethereum-sepolia

# Alchemy API Key found in the Alchemy Dashboard
NEXT_PUBLIC_ALCHEMY_API_KEY=abcdefghijklmnopqrstuvwxyz1234567890

# Alchemy Gas Policy ID
NEXT_PUBLIC_ALCHEMY_GAS_POLICY_ID=abc-1234567890
